{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        />

        {% comment %} bootstrapcdn {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" >

        <title>My Profile</title>
    </head>
    <body class="main-content">

        {% comment %} 
        HEADER SECTION
        {% endcomment %}

        <header class="section sec1 header active" id="home">
            <div class="header-content">
                <div class="left-header">
                    <div class="h-shape"></div>
                    <div class="image">
                        <img src="{% static 'images/ceo.jpg' %}" alt="photo" width="400" />
                    </div>
                </div>

                <div class="right-header">
                    <h1 class="name">
                        Hi, I'm Kanza Jovita a<br>
                        <span id="typewriter"></span>
                    </h1>
                    <p>
                        I'm a web developer who creates unique and functional websites. As a software engineer, I'm passionate about making a positive impact and using technology to solve real-world problems.
                    </p>
                    <div class="btn-con">
                        <a href="#" class="main-btn">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"
                                ><i class="fas fa-download"></i
                            ></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <main>

            {% comment %} 
            ABOUT ME SECTION
            {% endcomment %}
            <section class="section sec2 about" id="about">
                
                <div class="main-title mt-4">
                    <h2>
                        About <span>Me</span>
                        <span class="bg-text">my stats</span>
                    </h2>
                </div>

                <div class="about-container container row">
                    <div class="left-about mb-5">
                        <h4>Information About Me</h4>
                        <p>
                            I am a software Engineering Student  at Refactory who is aspiring to be the best data scientist of my time and Currently I do web development using Django and React.
                        </p>
                        <div class="btn-con">
                            <a href="#" class="main-btn">
                                <span class="btn-text">Download CV</span>
                                <span class="btn-icon"
                                    ><i class="fas fa-download"></i
                                ></span>
                            </a>
                        </div>
                    </div>

                    <div class="right-about">
                        <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">5+</p>
                                <p class="small-text">
                                    Projects <br />
                                    Completed
                                </p>
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">0.5+</p>
                                <p class="small-text">
                                    Years of <br />
                                    Experience
                                </p>
                            </div>
                        </div>
                        {% comment %} <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">50+</p>
                                <p class="small-text">
                                    HAPPY <br />
                                    CLIENTS
                                </p>
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">400+</p>
                                <p class="small-text">
                                    CUSTOMER <br />
                                    REVIEWS
                                </p>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>

                {% comment %} Skills {% endcomment %}
                <div class="about-stats">
                    <h4 class="stat-title">My Skills</h4>

                    <div class="progress-bars">

                        <div class="progress-bar">
                            
                                <p class="prog-title">html</p>

                                <div class="progress-con ">
                                    <p class="prog-text">90%</p>
                                    <div class="progress">
                                        <span class="html"></span>
                                    </div>
                                
                            </div>
                            
                        </div>

                        <div class="progress-bar">
                            <p class="prog-title">javascript</p>
                            <div class="progress-con">
                                <p class="prog-text">40%</p>
                                <div class="progress">
                                    <span class="javascript"></span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <p class="prog-title">python</p>
                            <div class="progress-con">
                                <p class="prog-text">70%</p>
                                <div class="progress">
                                    <span class="python"></span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <p class="prog-title">Wordpress</p>
                            <div class="progress-con">
                                <p class="prog-text">70%</p>
                                <div class="progress">
                                    <span class="python"></span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <p class="prog-title">Typescript</p>
                            <div class="progress-con">
                                <p class="prog-text">30%</p>
                                <div class="progress">
                                    <span class="python"></span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar">
                            <p class="prog-title">css</p>
                            <div class="progress-con">
                                <p class="prog-text">70%</p>
                                <div class="progress">
                                    <span class="css"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} Soft skills {% endcomment %}
                    <div class="soft-skills mt-5">
                        <h4 class="stat-title">Soft Skills</h4>
                        <div class="skill">
                            <span>Communication</span>
                            <div class="sprogress-bar"><div class="sprogress" style="width: 95%; background-color: #000;"></div></div>
                        </div>
                        <div class="skill">
                            <span>Teamwork</span>
                            <div class="sprogress-bar"><div class="sprogress" style="width: 98%; background-color: red;"></div></div>
                        </div>
                        <div class="skill">
                            <span>Problem Solving</span>
                            <div class="sprogress-bar"><div class="sprogress" style="width: 80%; background-color: aqua;"></div></div>
                        </div>
                        <div class="skill">
                            <span>Critical Thinking </span>
                            <div class="sprogress-bar"><div class="sprogress" style="width: 80%; background-color: orange;"></div></div>
                        </div>
                        <div class="skill">
                            <span>Time Management </span>
                            <div class="sprogress-bar"><div class="sprogress" style="width: 95%;"></div></div>
                        </div>

                        
                    </div>
                </div>

                {% comment %} Timeline {% endcomment %}
                <h4 class="stat-title">Services</h4>
                <div class="timeline ">

                        <div class="timeline-item ">
                            <div class="timeline-icon">
                                <i class="fa-solid fa-code"></i>
                            </div>
                            {% comment %} <p class="tl-duration">2010-present</p> {% endcomment %}
                            <h5>Web Development <span> </span></h5>
                            <p>
                                Explore the world of web development with expertise in HTML, CSS, and JavaScript. From building responsive layouts to interactive web applications, I bring your ideas to life on the digital canvas
                            </p>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-icon">
                                <i class="fa-solid fa-chart-pie"></i>
                            </div>
                            {% comment %} <p class="tl-duration">2010-present</p> {% endcomment %}
                            <h5>Data Analysis <span> </span></h5>
                            <p>
                                Unlock valuable insights from your data with expertise in statistical analysis and predictive modeling. From exploratory data analysis to developing actionable recommendations.
                            </p>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-icon">
                                <i class="fa-solid fa-database"></i>
                            </div>
                            {% comment %} <p class="tl-duration">2010-present</p> {% endcomment %}
                            <h5>Database Design & Management <span> </span></h5>
                            <p>
                                Optimize your data handling with advanced database design and management solutions. From schema design to performance tuning and data integrity, ensure your databases are robust, scalable, and efficient. 
                            </p>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-icon">
                                <i class="fa-solid fa-laptop-code"></i>
                            </div>
                            {% comment %} <p class="tl-duration">2010-present</p> {% endcomment %}
                            <h5>DevOps <span> </span></h5>
                            <p>
                                Streamline your software development and IT operations with comprehensive DevOps solutions. Enhance collaboration, automate workflows, and improve deployment efficiency. 
                            </p>
                        </div>
                    </div>
                    
                </div>
            </section>



            {% comment %}  
            MY WORK/PROJECTS SECTION
            {% endcomment %}

            <section class="section sec3 portifolio" id="portfolio">
                <div class="main-title">
                    <h2>
                        My <span>Portfolio</span
                        ><span class="bg-text">My Work</span>
                    </h2>
                </div>
                <div>
                    <p class="port-text">
                        Here is my work that I've done in various programing
                        languages.
                    </p>
                    <div class="portfolios">

                        
                        {% comment %} <div class="portfolio-item">
                            <div class="image">
                                <img src="{% static './images/port2.jpg' %}" alt="port1" />
                            </div>
                            <div class="hover-items">
                                <h3>Project Source</h3>
                                <div class="icons">
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-github"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-x"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-youtube"></i
                                    ></a>
                                </div>
                            </div>
                        </div>


                        <div class="portfolio-item">
                            <div class="image">
                                <img src="{% static './images/port3.jpg' %}" alt="port1" />
                            </div>
                            <div class="hover-items">
                                <h3>Project Source</h3>
                                <div class="icons">
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-github"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-x"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-youtube"></i
                                    ></a>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="portfolio-item">
                            <div class="image">
                                <img src="{% static './images/port8.jpg' %}" alt="port1" />
                            </div>
                            <div class="hover-items">
                                <h3>Daycare Management System</h3>
                                <div class="icons">
                                    <a href="https://github.com/kanza-jovita/deel" target="_blank" class="icons"
                                        ><i class="fa-brands fa-github"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-x"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-youtube"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="image">
                                <img src="{% static './images/port9.jpg' %}" alt="port1" />
                            </div>
                            <div class="hover-items">
                                <h3>Portfolio Site</h3>
                                <div class="icons">
                                    <a href="https://github.com/kanza-jovita/Portifolio-Site" target="_blank" class="icons"
                                        ><i class="fa-brands fa-github"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-x"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-youtube"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="portfolio-item">
                            <div class="image">
                                <img src="{% static './images/port6.jpg' %}" alt="port1" />
                            </div>
                            <div class="hover-items">
                                <h3>Project Source</h3>
                                <div class="icons">
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-github"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-x"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-youtube"></i
                                    ></a>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="portfolio-item">
                            <div class="image">
                                <img src="{% static './images/port7.jpg' %}" alt="port1" />
                            </div>
                            <div class="hover-items">
                                <h3>Blog site</h3>
                                <div class="icons">
                                    <a href="https://github.com/kanza-jovita/My-Blog" target="_blank" class="icons"
                                        ><i class="fa-brands fa-github"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-x"></i
                                    ></a>
                                    <a href="#" target="_blank" class="icons"
                                        ><i class="fa-brands fa-youtube"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            {% comment %}  
            BLOG SECTION
            {% endcomment %}

            <section class="section sec4" id="blogs">
                <div class="blogs-content">
                    <div class="main-title">
                        <h2>
                            My <span>Blogs</span
                            ><span class="bg-text">My Blogs</span>
                        </h2>
                    </div>
                    <div class="blogs">
                        <div class="blog">
                            <img src="{% static './images/blog3.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog2.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>My Software Engineering Journey</h4>
                                <p>
                                    Starting my journey in software engineering was one of the best decisions I've ever made. From the moment I wrote my first line of code, I knew I had embarked on an incredible adventure. The excitement of seeing my code come to life was unparalleled, and I was eager to dive deeper into this fascinating world.

                                    I remember the thrill of writing my first "Hello, World!" program. It felt like unlocking a new dimension of creativity and problem-solving. The journey has been perfectly amazing, filled with moments of pure joy and satisfaction. However, like any worthwhile pursuit, it has also been tough at times. There were days when nothing seemed to make sense, and I questioned my abilities and choices.

                                    Learning backend development was a significant milestone. The intricacies of server-side logic, databases, and APIs fascinated me, but mastering them was no small feat. It was a rollercoaster ride—full of highs and lows, triumphs and setbacks. Each bug I encountered felt like a puzzle to be solved, and each solution brought a sense of accomplishment.

                                    One of the biggest challenges in software engineering is the constant learning curve. Technology evolves rapidly, and keeping up with the latest trends and tools can be overwhelming. There were times when I felt stuck, unable to debug an issue or understand a complex concept. But these moments taught me resilience and the importance of perseverance.

                                    Throughout this journey, the support of the software engineering community has been invaluable. Whether it's through online forums, coding bootcamps, or mentorship programs, connecting with others who share the same passion has been incredibly motivating. Collaborating on projects, attending hackathons, and participating in masterclasses have all contributed to my growth and learning.

                                    Enrolling in the Refactory Apprenticeship Program was a turning point.I delved into automation, machine learning, and continuous integration tools like Travis CI, GitHub Actions, Ansible, Puppet, and Uldera. Working on real-world projects, such as developing a music application and a donation application, honed my practical skills.

                                    Currently, I'm working on a project involving Django for account verification, utilizing email verification codes. I'm also creating a professional web page to showcase my projects and skills.

                                    Looking ahead, I aim to further specialize in database management and DevOps, integrating these areas to create efficient, scalable, and secure software solutions. The goal is to leverage my skills to contribute to impactful projects and continue learning and growing in this dynamic field.

                                    Despite the challenges, the joy of creating something from scratch, solving problems, and constantly learning makes the journey incredibly rewarding. Each new project is an opportunity to apply what I've learned, push my boundaries, and innovate.

                                    In conclusion,My software engineering journey is a continuous learning process, filled with challenges and achievements. Each experience adds to my knowledge and skills, paving the way for future success in this ever-evolving industry. I am grateful for the opportunities and excited for what lies ahead. The journey has just begun, and I look forward to the many adventures that await in the world of software engineering.

                                </p>
                            </div>
                        </div>
                        {% comment %} <div class="blog">
                            <img src="{% static './images/blog1.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog3.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog1.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog2.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog1.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog3.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog1.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div>
                        <div class="blog">
                            <img src="{% static './images/blog2.jpg' %}" alt="blog1" />
                            <div class="blog-text">
                                <h4>How to Create A Website</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Laborum dolore vero omnis
                                    suscipit impedit ex quaerat commodi
                                    perspiciatis corporis quos quibusdam harum
                                    rerum qui, nam mollitia quia labore,
                                    voluptatum ea!
                                </p>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </section>


            {% comment %}  
            CONTACT ME SECTION
            {% endcomment %}

            <section class="section sec5 contact" id="contact">
                <div class="contact-container">
                    <div class="main-title">
                        <h2>
                            Contact <span>Me</span
                            ><span class="bg-text">My Address</span>
                        </h2>
                    </div>
                    <div class="contact-content-con">
                        <div class="left-contact">
                            <h4>Contact me here</h4>
                            <p>
                                Do you have a project in mind? Want to hire me? or simply wanna chat? Feel free to Schedule a meeting.
                            </p>
                            <div class="contact-info">
                                <div class="contact-item">
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt "></i>
                                        <span>Location</span>
                                    </div>
                                    <p>Seeta,Bukerere</p>
                                </div>
                                <div class="contact-item">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                        <span>Email</span>
                                    </div>
                                    <p>kanzajovita@gmail.com</p>
                                </div>
                                <div class="contact-item">
                                    <div class="icon">
                                        <i class="fas fa-user-graduate"></i>
                                        <span>Mobile Number</span>
                                    </div>
                                    <p>+256704279303/+256787346687</p>
                                </div>
                                <div class="contact-item">
                                    <div class="icon">
                                        <i class="fas fa-globe-africa"></i>
                                        <span>Languages</span>
                                    </div>
                                    <p>English,Luganda,Swahili</p>
                                </div>
                            </div>
                            <div class="contact-icons">
                                <div class="contact-icon">
                                    {% comment %} <a href="#" target="_blank"
                                        ><i class="fa-brands fa-facebook"></i
                                    ></a> {% endcomment %}
                                    <a href="https://x.com/kanzashizug" target="_blank"
                                        ><i class="fa-brands fa-twitter"></i
                                    ></a>
                                    <a href="https://github.com/kanza-jovita" target="_blank"
                                        ><i class="fa-brands fa-github"></i
                                    ></a>
                                    <a href="https://www.youtube.com/channel/UCD_UTy3OZsqjhsNYuf8mhDA" target="_blank"
                                        ><i class="fa-brands fa-youtube"></i
                                    ></a>
                                </div>
                            </div>
                        </div>

                        <div class="right-contact">

                            

                            <form method="post" class="contact-form">
                                {% csrf_token %}

                                <div class="input-control i-c-2">
                                    <input type="text" required placeholder="YOUR NAME" name='name'/>
                                    <input type="email" name="email" id="" placeholder="YOUR EMAIL" required  />
                                </div>
                                
                                <div class="input-control">
                                    <textarea
                                        name="message"
                                        id="inputtext"
                                        cols="15"
                                        rows="8"
                                        placeholder="Message Here"
                                    ></textarea>
                                </div>

                                <div class="btn-con">
                                    <button type="submit" href="#" class="main-btn">
                                        <span class="btn-text">Submit</span>

                                        
                                        <div class=" btn-icon">
                                            <i class="fa-regular fa-paper-plane "></i>
                                        </div>
                                    </button>
                                </div>

                                
                            </form> 

                        </div>
                    </div>
                </div>
            </section>
        </main>


        {% comment %}  
        NAVIGATION SECTION
        {% endcomment %}

        <div class="controls">
            <div class="control control-1 active-btn" data-id="home">
                <i class="fas fa-home"></i>
            </div>
            <div class="control control-2" data-id="about">
                <i class="fas fa-user"></i>
            </div>
            <div class="control control-3" data-id="portfolio">
                <i class="fas fa-briefcase"></i>
            </div>
            {% comment %} <div class="control control-4" data-id="blogs">
                <i class="fas fa-newspaper"></i>
            </div> {% endcomment %}
            <div class="control control-5" data-id="contact">
                <i class="fas fa-envelope-open"></i>
            </div>
        </div>

        <div class="theme-btn">
            <i class="fas fa-adjust"></i>
        </div>

        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/typewritter.js' %}"></script>
    </body>
</html>
